:root {
    --box-padding: 2%;
}

text {
    font-family: 'Open Sans', sans-serif;
}

#main-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    min-width: 600px;
    min-height: 600px;
}

.graph-container {
    position: absolute;
    border: 2px solid black;
    width: 47%;
    height: 37%;
}

#market-container {
    top: var(--box-padding);
    left: var(--box-padding);
    height: 60%;
}

#news-container {
    bottom: 22%;
    left: var(--box-padding);
    height: 14%
}

#spirits-container {
    top: var(--box-padding);
    right: var(--box-padding);
}

#beer-container {
    bottom: 22%;
    right: var(--box-padding);
}

#bee-movie-container{
    bottom: var(--box-padding);
    left: var(--box-padding);
    height: 18%;
    width: 96%;
}

.title {
    font-size: 3vh;
    font-weight: bold;
}

.bar {
    fill: #DCDCDC;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 1.5;
}

.news {
    font-size: 2vw;
}

#news-time {
    font-size: 2vw;
}

#stock-circle {
    fill: lightsteelblue;
    stroke: #315b7d;
    stroke-width: 2px;
}