#main-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    min-width: 600px;
    min-height: 600px;
    background: palegoldenrod;
}

.graph-container {
    width: 47%;
    height: 47%;
    border: 1px solid black;
}

#market-container {
    position: absolute;
    top: 2%;
    left: 2%;
}

#spirits-container {
    position: absolute;
    top: 2%;
    right: 2%;
}

#news-container {
    position: absolute;
    bottom: 2%;
    left: 2%;
}

#beer-container {
    position: absolute;
    bottom: 2%;
    right: 2%;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}